div .main{
    background-color: #E6E6FA;
}

header{
    width: 60rem;
    background-color: #fff;
    height: 630px;
    margin-left: 20rem;
    position: absolute;
    left: -10rem;
}

aside{
    height: 630px;
    background-color:#E6E6FA;
    width: 10rem;
    position: absolute;
    bottom: -7px; 
}

div .ant-tabs-nav-scroll{
    border-bottom-color: transparent;
    background-color: #E6E6FA;
}

div .ant-tabs-tabpane{
    background-color: #E6E6FA;
    margin-left: 2rem;
}

div .ant-tabs-tabpane-active{
    background-color: #E6E6FA;
}

header{
    background-color: #E6E6FA;
}

div .ant-tabs-nav{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 6px;
    box-shadow: 0 0 10px 0;
    width: 600px;
    margin-left: 4rem;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           